<!doctype html>
<html lang="en">

<%-include('partials/header')%>





<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"> -->








<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">


  <div class="site-wrap" id="home-section">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>



    <%-include('partials/navigation')%>



    <div class="ftco-blocks-cover-1">
      <div class="site-section-cover overlay" data-stellar-background-ratio="0.5"
        style="background-image: url('/images/hero_1.jpg')">
        <div class="container">
          <div class="row align-items-center justify-content-center text-center">
            <div class="col-md-7">
              <h1 class="mb-2"style="color:#91b029">Add Advertisements</h1>
              <h4 class="text-white">Please add your advertisement</h4>




            </div>

          </div>

        </div>

      </div>

    </div>



    <div class="site-section">
      <div class="container">

        <div class="row justify-content-center">

          <div class="col-12 col-md-6">
            <div class="login-content">








            </div>
          </div>
        </div>

        <h2 class="<%=error?"text-danger":"text-success"%>"><%=message%></h2>

       

        <div class="site-section">



          <form id="newadvForm" data-parsley-validate action="/admin/Addvertisement" method="POST"
            class="form-horizontal" enctype="multipart/form-data">

            <!-- Form Name -->
            <legend>New Addvertisement</legend>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="forSell">The Addvertisement for :</label>
              <div class="col-md-9">
                <select id="forSell" name="forSell" required>
                  <option value="">---Please Choose---</option>
                  <option value="Sell">Sell</option>
                  <option value="Rent">Rent</option>

                </select>

              </div>
            </div>

            <!-- Text input-->


            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="country">The Country is :</label>
              <div class="col-md-9">
                <select id="country" name="country" required>
                  <option value="">---Please Choose---</option>
                  <option value="Afghanistan">Afghanistan</option>
                  <option value="Åland Islands">Åland Islands</option>
                  <option value="Albania">Albania</option>
                  <option value="Algeria">Algeria</option>
                  <option value="American Samoa">American Samoa</option>
                  <option value="Andorra">Andorra</option>
                  <option value="Angola">Angola</option>
                  <option value="Anguilla">Anguilla</option>
                  <option value="Antarctica">Antarctica</option>
                  <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                  <option value="Argentina">Argentina</option>
                  <option value="Armenia">Armenia</option>
                  <option value="Aruba">Aruba</option>
                  <option value="Australia">Australia</option>
                  <option value="Austria">Austria</option>
                  <option value="Azerbaijan">Azerbaijan</option>
                  <option value="Bahamas">Bahamas</option>
                  <option value="Bahrain">Bahrain</option>
                  <option value="Bangladesh">Bangladesh</option>
                  <option value="Barbados">Barbados</option>
                  <option value="Belarus">Belarus</option>
                  <option value="Belgium">Belgium</option>
                  <option value="Belize">Belize</option>
                  <option value="Benin">Benin</option>
                  <option value="Bermuda">Bermuda</option>
                  <option value="Bhutan">Bhutan</option>
                  <option value="Bolivia">Bolivia</option>
                  <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                  <option value="Botswana">Botswana</option>
                  <option value="Bouvet Island">Bouvet Island</option>
                  <option value="Brazil">Brazil</option>
                  <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
                  <option value="Brunei Darussalam">Brunei Darussalam</option>
                  <option value="Bulgaria">Bulgaria</option>
                  <option value="Burkina Faso">Burkina Faso</option>
                  <option value="Burundi">Burundi</option>
                  <option value="Cambodia">Cambodia</option>
                  <option value="Cameroon">Cameroon</option>
                  <option value="Canada">Canada</option>
                  <option value="Cape Verde">Cape Verde</option>
                  <option value="Cayman Islands">Cayman Islands</option>
                  <option value="Central African Republic">Central African Republic</option>
                  <option value="Chad">Chad</option>
                  <option value="Chile">Chile</option>
                  <option value="China">China</option>
                  <option value="Christmas Island">Christmas Island</option>
                  <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
                  <option value="Colombia">Colombia</option>
                  <option value="Comoros">Comoros</option>
                  <option value="Congo">Congo</option>
                  <option value="Congo, The Democratic Republic of The">Congo, The Democratic Republic of The</option>
                  <option value="Cook Islands">Cook Islands</option>
                  <option value="Costa Rica">Costa Rica</option>
                  <option value="Cote D'ivoire">Cote D'ivoire</option>
                  <option value="Croatia">Croatia</option>
                  <option value="Cuba">Cuba</option>
                  <option value="Cyprus">Cyprus</option>
                  <option value="Czech Republic">Czech Republic</option>
                  <option value="Denmark">Denmark</option>
                  <option value="Djibouti">Djibouti</option>
                  <option value="Dominica">Dominica</option>
                  <option value="Dominican Republic">Dominican Republic</option>
                  <option value="Ecuador">Ecuador</option>
                  <option value="Egypt">Egypt</option>
                  <option value="El Salvador">El Salvador</option>
                  <option value="Equatorial Guinea">Equatorial Guinea</option>
                  <option value="Eritrea">Eritrea</option>
                  <option value="Estonia">Estonia</option>
                  <option value="Ethiopia">Ethiopia</option>
                  <option value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
                  <option value="Faroe Islands">Faroe Islands</option>
                  <option value="Fiji">Fiji</option>
                  <option value="Finland">Finland</option>
                  <option value="France">France</option>
                  <option value="French Guiana">French Guiana</option>
                  <option value="French Polynesia">French Polynesia</option>
                  <option value="French Southern Territories">French Southern Territories</option>
                  <option value="Gabon">Gabon</option>
                  <option value="Gambia">Gambia</option>
                  <option value="Georgia">Georgia</option>
                  <option value="Germany">Germany</option>
                  <option value="Ghana">Ghana</option>
                  <option value="Gibraltar">Gibraltar</option>
                  <option value="Greece">Greece</option>
                  <option value="Greenland">Greenland</option>
                  <option value="Grenada">Grenada</option>
                  <option value="Guadeloupe">Guadeloupe</option>
                  <option value="Guam">Guam</option>
                  <option value="Guatemala">Guatemala</option>
                  <option value="Guernsey">Guernsey</option>
                  <option value="Guinea">Guinea</option>
                  <option value="Guinea-bissau">Guinea-bissau</option>
                  <option value="Guyana">Guyana</option>
                  <option value="Haiti">Haiti</option>
                  <option value="Heard Island and Mcdonald Islands">Heard Island and Mcdonald Islands</option>
                  <option value="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
                  <option value="Honduras">Honduras</option>
                  <option value="Hong Kong">Hong Kong</option>
                  <option value="Hungary">Hungary</option>
                  <option value="Iceland">Iceland</option>
                  <option value="India">India</option>
                  <option value="Indonesia">Indonesia</option>
                  <option value="Iran, Islamic Republic of">Iran, Islamic Republic of</option>
                  <option value="Iraq">Iraq</option>
                  <option value="Ireland">Ireland</option>
                  <option value="Isle of Man">Isle of Man</option>
                  <option value="Israel">Israel</option>
                  <option value="Italy">Italy</option>
                  <option value="Jamaica">Jamaica</option>
                  <option value="Japan">Japan</option>
                  <option value="Jersey">Jersey</option>
                  <option value="Jordan">Jordan</option>
                  <option value="Kazakhstan">Kazakhstan</option>
                  <option value="Kenya">Kenya</option>
                  <option value="Kiribati">Kiribati</option>
                  <option value="Korea, Democratic People's Republic of">Korea, Democratic People's Republic of</option>
                  <option value="Korea, Republic of">Korea, Republic of</option>
                  <option value="Kuwait">Kuwait</option>
                  <option value="Kyrgyzstan">Kyrgyzstan</option>
                  <option value="Lao People's Democratic Republic">Lao People's Democratic Republic</option>
                  <option value="Latvia">Latvia</option>
                  <option value="Lebanon">Lebanon</option>
                  <option value="Lesotho">Lesotho</option>
                  <option value="Liberia">Liberia</option>
                  <option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
                  <option value="Liechtenstein">Liechtenstein</option>
                  <option value="Lithuania">Lithuania</option>
                  <option value="Luxembourg">Luxembourg</option>
                  <option value="Macao">Macao</option>
                  <option value="Macedonia, The Former Yugoslav Republic of">Macedonia, The Former Yugoslav Republic of
                  </option>
                  <option value="Madagascar">Madagascar</option>
                  <option value="Malawi">Malawi</option>
                  <option value="Malaysia">Malaysia</option>
                  <option value="Maldives">Maldives</option>
                  <option value="Mali">Mali</option>
                  <option value="Malta">Malta</option>
                  <option value="Marshall Islands">Marshall Islands</option>
                  <option value="Martinique">Martinique</option>
                  <option value="Mauritania">Mauritania</option>
                  <option value="Mauritius">Mauritius</option>
                  <option value="Mayotte">Mayotte</option>
                  <option value="Mexico">Mexico</option>
                  <option value="Micronesia, Federated States of">Micronesia, Federated States of</option>
                  <option value="Moldova, Republic of">Moldova, Republic of</option>
                  <option value="Monaco">Monaco</option>
                  <option value="Mongolia">Mongolia</option>
                  <option value="Montenegro">Montenegro</option>
                  <option value="Montserrat">Montserrat</option>
                  <option value="Morocco">Morocco</option>
                  <option value="Mozambique">Mozambique</option>
                  <option value="Myanmar">Myanmar</option>
                  <option value="Namibia">Namibia</option>
                  <option value="Nauru">Nauru</option>
                  <option value="Nepal">Nepal</option>
                  <option value="Netherlands">Netherlands</option>
                  <option value="Netherlands Antilles">Netherlands Antilles</option>
                  <option value="New Caledonia">New Caledonia</option>
                  <option value="New Zealand">New Zealand</option>
                  <option value="Nicaragua">Nicaragua</option>
                  <option value="Niger">Niger</option>
                  <option value="Nigeria">Nigeria</option>
                  <option value="Niue">Niue</option>
                  <option value="Norfolk Island">Norfolk Island</option>
                  <option value="Northern Mariana Islands">Northern Mariana Islands</option>
                  <option value="Norway">Norway</option>
                  <option value="Oman">Oman</option>
                  <option value="Pakistan">Pakistan</option>
                  <option value="Palau">Palau</option>
                  <option value="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option>
                  <option value="Panama">Panama</option>
                  <option value="Papua New Guinea">Papua New Guinea</option>
                  <option value="Paraguay">Paraguay</option>
                  <option value="Peru">Peru</option>
                  <option value="Philippines">Philippines</option>
                  <option value="Pitcairn">Pitcairn</option>
                  <option value="Poland">Poland</option>
                  <option value="Portugal">Portugal</option>
                  <option value="Puerto Rico">Puerto Rico</option>
                  <option value="Qatar">Qatar</option>
                  <option value="Reunion">Reunion</option>
                  <option value="Romania">Romania</option>
                  <option value="Russian Federation">Russian Federation</option>
                  <option value="Rwanda">Rwanda</option>
                  <option value="Saint Helena">Saint Helena</option>
                  <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
                  <option value="Saint Lucia">Saint Lucia</option>
                  <option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
                  <option value="Saint Vincent and The Grenadines">Saint Vincent and The Grenadines</option>
                  <option value="Samoa">Samoa</option>
                  <option value="San Marino">San Marino</option>
                  <option value="Sao Tome and Principe">Sao Tome and Principe</option>
                  <option value="Saudi Arabia">Saudi Arabia</option>
                  <option value="Senegal">Senegal</option>
                  <option value="Serbia">Serbia</option>
                  <option value="Seychelles">Seychelles</option>
                  <option value="Sierra Leone">Sierra Leone</option>
                  <option value="Singapore">Singapore</option>
                  <option value="Slovakia">Slovakia</option>
                  <option value="Slovenia">Slovenia</option>
                  <option value="Solomon Islands">Solomon Islands</option>
                  <option value="Somalia">Somalia</option>
                  <option value="South Africa">South Africa</option>
                  <option value="South Georgia and The South Sandwich Islands">South Georgia and The South Sandwich
                    Islands</option>
                  <option value="Spain">Spain</option>
                  <option value="Sri Lanka">Sri Lanka</option>
                  <option value="Sudan">Sudan</option>
                  <option value="Suriname">Suriname</option>
                  <option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
                  <option value="Swaziland">Swaziland</option>
                  <option value="Sweden">Sweden</option>
                  <option value="Switzerland">Switzerland</option>
                  <option value="Syrian Arab Republic">Syrian Arab Republic</option>
                  <option value="Taiwan, Province of China">Taiwan, Province of China</option>
                  <option value="Tajikistan">Tajikistan</option>
                  <option value="Tanzania, United Republic of">Tanzania, United Republic of</option>
                  <option value="Thailand">Thailand</option>
                  <option value="Timor-leste">Timor-leste</option>
                  <option value="Togo">Togo</option>
                  <option value="Tokelau">Tokelau</option>
                  <option value="Tonga">Tonga</option>
                  <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                  <option value="Tunisia">Tunisia</option>
                  <option value="Turkey">Turkey</option>
                  <option value="Turkmenistan">Turkmenistan</option>
                  <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
                  <option value="Tuvalu">Tuvalu</option>
                  <option value="Uganda">Uganda</option>
                  <option value="Ukraine">Ukraine</option>
                  <option value="United Arab Emirates">United Arab Emirates</option>
                  <option value="United Kingdom">United Kingdom</option>
                  <option value="United States">United States</option>
                  <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
                  <option value="Uruguay">Uruguay</option>
                  <option value="Uzbekistan">Uzbekistan</option>
                  <option value="Vanuatu">Vanuatu</option>
                  <option value="Venezuela">Venezuela</option>
                  <option value="Viet Nam">Viet Nam</option>
                  <option value="Virgin Islands, British">Virgin Islands, British</option>
                  <option value="Virgin Islands, U.S.">Virgin Islands, U.S.</option>
                  <option value="Wallis and Futuna">Wallis and Futuna</option>
                  <option value="Western Sahara">Western Sahara</option>
                  <option value="Yemen">Yemen</option>
                  <option value="Zambia">Zambia</option>
                  <option value="Zimbabwe">Zimbabwe</option>

                </select>

              </div>
            </div>

            <!-- Text input-->

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="city">City</label>
              <div class="col-md-9">
                <input id="city" name="city" type="text" required placeholder="Here you need to add the City"
                  class="form-control input-md">

              </div>
            </div>

            <!-- Text input-->


            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="district">District</label>
              <div class="col-md-9">
                <input id="district" name="district" type="text" placeholder="Here you need to add the District"
                  class="form-control input-md">

              </div>
            </div>

            <!-- Text input-->


            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="title">Title</label>
              <div class="col-md-9">
                <input id="title" name="title" type="text" placeholder="Here you need to add the Title"
                  class="form-control input-md">

              </div>
            </div>

            <!-- Text input-->

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="postalCode">Postal Code</label>
              <div class="col-md-9">
                <input required data-parsley-type="number" id="postalCode" name="postalCode" type="text"
                  placeholder="Here you need to add the Postal Code" class="form-control input-md">

              </div>
            </div>

            <!-- Text input-->


            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="address1">Address 1</label>
              <div class="col-md-9">
                <input id="address1" name="address1" type="text" placeholder="Here you need to add the Address"
                  class="form-control input-md">

              </div>
            </div>

            <!-- Text input-->

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="address2">Address 2</label>
              <div class="col-md-9">
                <input id="address2" name="address2" type="text" placeholder="Here you need to add the Address"
                  class="form-control input-md">

              </div>
            </div>

            <!-- Text input-->

            <div class="form-group ">
              <label class="col-md-4 control-label" for="houseNumber">House Number</label>
              <div class="col-md-9">
                <input id="houseNumber" name="houseNumber" type="text" placeholder="Here you need to add House Number"
                  class="form-control input-md">

              </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="descTextarea">Description</label>
              <div class="col-md-9">
                <textarea class="form-control" id="descTextarea" name="description"
                  placeholder="Please Enter text to describe the Addvertistement"></textarea>
              </div>
            </div>

            <!-- Textarea -->
            <!-- <div class="form-group">
              <label class="col-md-4 control-label" for="descTextarea">Date</label>
              <div class="col-md-9">
                <input type="date" class="form-control" placeholder="Enter the date" name="date">

              </div>
            </div> -->

            <!-- Text input-->










            <!-- this for other div -->



            <!-- <div class="form-group ">
              <label class="col-md-4 control-label" for="otherName">Other</label>
              <div class="col-md-9">
                <input id="otherName" name="otherName" type="text" placeholder="Here you need to add other things in house"
                  class="form-control input-md">

              </div>
            </div>

            <div  id="otherValuesDiv" class="form-group d-none">
              <label class="col-md-4 control-label" for="otherValue">Other Value</label>
              <div class="col-md-9">
                <input id="otherValue" name="otherValue" type="text" placeholder="Here you need to add other things in house"
                  class="form-control input-md">
                  

              </div>
            </div> -->




            <!-- this for other div  end  -->



            <div class="form-group ">
                <label class="col-md-4 control-label" for="price">Price</label>
                <div class="col-md-9">
                  <input id="price" name="price" type="text" placeholder="Here you need to add price"
                    class="form-control input-md" >
  
                </div>
              </div>



<button type="button" class='btn btn-success addmore'>+ add more details</button> <br><br><br>

<div id="container" class="counnt">







</div>

          


            <div class="form-group">
              <label class="col-md-4 control-label" for="UploadToDB">Photos</label>
              <div class="col-md-4">

                <!-- this is the config of the multer in ejs -->
                <input id="UploadToDB" name="file" multiple type="file">
              </div>
            </div>
            <div class="form-group">

              <div class="funkyradio">
                <div class="funkyradio-default">
                  <input type="checkbox" class="ck" name="checkbox" id="checkbox1" value="Balkon" />
                  <label for="checkbox1">Balkon</label>
                </div>
                <div class="funkyradio-primary">
                  <input type="checkbox" class="ck" name="checkbox" id="checkbox2" value="Einbauküche" />
                  <label for="checkbox2">Einbauküche</label>
                </div>
                <div class="funkyradio-success">
                  <input type="checkbox" class="ck" name="checkbox" id="checkbox3" value="Garten" />
                  <label for="checkbox3">Garten</label>
                </div>
                <div class="funkyradio-danger">
                  <input type="checkbox" class="ck" name="checkbox" id="checkbox4" value="Aufzug" />
                  <label for="checkbox4">Aufzug</label>
                </div>
                <div class="funkyradio-warning">
                  <input type="checkbox" class="ck" name="checkbox" id="checkbox5" value="Terrasse" />
                  <label for="checkbox5">Terrasse</label>
                </div>
                <div class="funkyradio-info">
                  <input type="checkbox" class="ck" name="checkbox" id="checkbox6" value="Keller" />
                  <label for="checkbox6">Keller</label>
                </div>

                <div class="funkyradio-info">
                  <input type="checkbox" class="ck" name="checkbox" id="checkbox7" value="Gäste-WC" />
                  <label for="checkbox7">Gäste-WC</label>
                </div>

              </div>




              
              <p id="writehere"></p>
              <input id="tagsInput" name="tags" type="hidden" name="">
              <input id="propsInput" name="props" type="hidden" name="">

            </div>
            <script>

            </script>

            <div class="form-group">
              <div class="col-md-4">
                <input type="submit" class="btn btn-primary" style="color:white; background-color:#db4437;"
                  value="Add Addvertisement">
              </div>
            </div>
          </form>


        </div>
      </div>
    </div>
    <%-include('partials/testimonial')%>
    <!-- <div class="site-section">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-6 text-center">
            <h3 class="heading-29201 text-center">Leadership</h3>

            <p class="mb-5">Perspiciatis quidem, harum provident, repellat sint officia quos fugit tempora id deleniti.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mb-5">
            <div class="person-29381">
              <div class="media-39912">
                <img src="images/person_1.jpg" alt="Image" class="img-fluid">
              </div>
              <h3><a href="#">Josh Long</a></h3>
              <span class="meta d-block mb-4">4 Properties</span>
              <div class="social-32913">
                <a href="#"><span class="icon-facebook"></span></a>
                <a href="#"><span class="icon-twitter"></span></a>
                <a href="#"><span class="icon-instagram"></span></a>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-5">
            <div class="person-29381">
              <div class="media-39912">
                <img src="images/person_3.jpg" alt="Image" class="img-fluid">
              </div>
              <h3><a href="#">Melinda David</a></h3>
              <span class="meta d-block mb-4">10 Properties</span>
              <div class="social-32913">
                <a href="#"><span class="icon-facebook"></span></a>
                <a href="#"><span class="icon-twitter"></span></a>
                <a href="#"><span class="icon-instagram"></span></a>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-5">
            <div class="person-29381">
              <div class="media-39912">
                <img src="images/person_2.jpg" alt="Image" class="img-fluid">
              </div>
              <h3><a href="#">Jessica Soft</a></h3>
              <span class="meta d-block mb-4">18 Properties</span>
              <div class="social-32913">
                <a href="#"><span class="icon-facebook"></span></a>
                <a href="#"><span class="icon-twitter"></span></a>
                <a href="#"><span class="icon-instagram"></span></a>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-5">
            <div class="person-29381">
              <div class="media-39912">
                <img src="images/person_1.jpg" alt="Image" class="img-fluid">
              </div>
              <h3><a href="#">Josh Long</a></h3>
              <span class="meta d-block mb-4">4 Properties</span>
              <div class="social-32913">
                <a href="#"><span class="icon-facebook"></span></a>
                <a href="#"><span class="icon-twitter"></span></a>
                <a href="#"><span class="icon-instagram"></span></a>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-5">
            <div class="person-29381">
              <div class="media-39912">
                <img src="images/person_3.jpg" alt="Image" class="img-fluid">
              </div>
              <h3><a href="#">Melinda David</a></h3>
              <span class="meta d-block mb-4">10 Properties</span>
              <div class="social-32913">
                <a href="#"><span class="icon-facebook"></span></a>
                <a href="#"><span class="icon-twitter"></span></a>
                <a href="#"><span class="icon-instagram"></span></a>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-5">
            <div class="person-29381">
              <div class="media-39912">
                <img src="images/person_2.jpg" alt="Image" class="img-fluid">
              </div>
              <h3><a href="#">Jessica Soft</a></h3>
              <span class="meta d-block mb-4">18 Properties</span>
              <div class="social-32913">
                <a href="#"><span class="icon-facebook"></span></a>
                <a href="#"><span class="icon-twitter"></span></a>
                <a href="#"><span class="icon-instagram"></span></a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div> -->


    <!-- <div class="site-section bg-primary">
      <div class="container block-13">
        <div class="nonloop-block-13 owl-carousel">
          <div class="testimonial-38920 d-flex align-items-start">
            <div class="pic mr-4"><img src="images/person_1.jpg" alt=""></div>
            <div>
              <span class="meta">Business Man</span>
              <h3 class="mb-4">Josh Long</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo sapiente unde pariatur id, hic quos
                nihil nulla veritatis!</p>
              <div class="mt-4">
                <span class="icon-star text-white"></span>
                <span class="icon-star text-white"></span>
                <span class="icon-star text-white"></span>
                <span class="icon-star text-white"></span>
              </div>
            </div>
          </div>

          <div class="testimonial-38920 d-flex align-items-start">
            <div class="pic mr-4"><img src="images/person_1.jpg" alt=""></div>
            <div>
              <span class="meta">Business Woman</span>
              <h3 class="mb-4">Jean Doe</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo sapiente unde pariatur id, hic quos
                nihil nulla veritatis!</p>
              <div class="mt-4">
                <span class="icon-star text-white"></span>
                <span class="icon-star text-white"></span>
                <span class="icon-star text-white"></span>
                <span class="icon-star text-white"></span>
              </div>
            </div>
          </div>

          <div class="testimonial-38920 d-flex align-items-start">
            <div class="pic mr-4"><img src="images/person_1.jpg" alt=""></div>
            <div>
              <span class="meta">Business Woman</span>
              <h3 class="mb-4">Jean Doe</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo sapiente unde pariatur id, hic quos
                nihil nulla veritatis!</p>
              <div class="mt-4">
                <span class="icon-star text-white"></span>
                <span class="icon-star text-white"></span>
                <span class="icon-star text-white"></span>
                <span class="icon-star text-white"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

   


    <%-include('partials/footer')%>


  </div>

  <%-include('partials/scripts')%>



  <script>
    // to parsely validator
    $('#newadvForm').parsley();


    // check box choose

    $('.funkyradio input').on('click', function () {
      var array = [];
      $(".funkyradio input:checkbox[name=checkbox]:checked").each(function () {
        array.push($(this).val());
      });
      $('#writehere').text(array);
      $('#tagsInput').val(array);
    });



    // div generator

    $(document).ready(function () {
      
      

        $(".addmore").on('click', function () {
            var count = $('.counnt > div').length+1
            var data = $("<div class='form-group col-md-10' id='generatDiv" +count +"'><span class='col-md-1' id='snum" + count + "'>" + count + ".</span>"+
             "<div class='col-md-4'><label class=' control-label'>Add Feature</label><input class='form-control input-md-2 first' type='text' name='wname[]'/></div> <div class='col-md-4'><label class=' control-label'>Description</label><input class='form-control input-md-2 second' type='text' name='wname[]'/></div><br><br></div>");
             data.find('input').blur(function (e) { 
               e.preventDefault();
               let details = [];
               $('.counnt>div ').each(function()  {
                 let propName1 = $(this).find(' .col-md-4 .first').val();
                 let propValue = $(this).find('.col-md-4 .second').val();
                 console.log(propName1, propValue);
                 let obj = {
                   propName:propName1,
                   propValue:propValue
                 }
                 details.push(obj);
                 $('#propsInput').val(JSON.stringify(details));

               });
               
             });
            $('#container').append(data);
            count++;
        });
    });



// hide show otherValue field in addAdvertisement.ejs(I commit it in frontend)

// function checkOther(){
// $('#otherValuesDiv').removeClass('d-none');
// }
// 	$("#otherName").change(()=>{
// 			checkOther();
//   });
  


  </script>

</body>

</html>